.app__navbar {
  width: 100%;
  height: 8rem;

  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  z-index: 100;
  background-color: rgb(28, 29, 57, 0.6);
  backdrop-filter: blur(8px);

  box-shadow: 0 10px -10px rgba(28, 29, 57, 0.6);
}
#logo-image {
  width: 11.6rem;
  height: 4.875rem;
  animation: flipInX 1.5s ease-in-out;
}
#logo-heading {
  width: 14.9rem;
  height: 3.4rem;
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 34px;
  font-family: var(--logo-font);
  animation: flipInX 1.5s ease-in-out;
}
.app__navbar .app__navbar-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 4.875rem;
  width: 100%;
  padding: 1.4rem 0rem;
  padding-right: 1.4rem;
  flex-wrap: inherit;
  margin: 0 1rem;
}
.app__navbar .app__navbar-wrapper .navbar-left,
.app__navbar .app__navbar-wrapper .navbar-right {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* border: 2px solid red; */
}
.app__navbar .app__navbar-wrapper .navbar-right {
  margin-right: 2rem;
}
.btn {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  border-radius: 10px;
  color: #ffffff;
  margin: 0 0.55rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.btn-green,
.btn-green-solid {
  width: 17.7rem;
  height: 4.4rem;
  text-align: center;
}
.btn-green {
  background-color: #1c1d39;
  border: 2px solid #00c88c;
}

.btn-green-solid {
  background-color: #00c88c;
}
.btn-green:hover {
  background-color: #30323d;
  border: 2.5px solid #00c88c;
}
.btn-green-solid:hover {
  background-color: #028e64;
}

@media only screen and (max-width: 768px) {
  .btn-green,
  .btn-green-solid {
    width: 14rem;
    height: 3rem;
    text-align: center;
    font-size: 1.4rem;
  }
  #logo-image {
    width: 9.28rem;
    height: 3.9rem;
  }
  #logo-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
  }
}
@media only screen and (max-width: 555px) {
  .app__navbar .app__navbar-wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
