@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Poppins:wght@400;500;600;700&display=swap");

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  color: #fff;
}

:root {
  --bg-nav: #1c1d39;
  --bg-color: #f5f5f5;
  --primary-green: #00c88c;

  --logo-font: "Montserrat", sans-serif;
  --body-font: "Poppins", sans-serif;

  --logo-font-size: 2.8rem;
  --button-font-size: 1.6rem;
  --heading-font-size: 4.5rem;

  font-family: var(--body-font);
}
button {
  display: inline-block;
  font-family: "Poppins", sans-serif;
}
button:hover {
  animation: headShake 1s;
}
span {
  color: #00c88c;
}
h1 {
  font-size: var(--heading-font-size);
  font-family: var(--body-font);
}

.p-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 35px;

  color: #ffffff;
}

::selection {
  background-color: var(--primary-green);
  color: #fff;
}
